@import "tailwindcss";

/* Sora Regular */
@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/Sora-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
    font-display: swap;
}

/* Sora SemiBold */
@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/Sora-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
    font-display: swap;
}

@theme {
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-primary: #00adee;
  --color-primary-bold: #005B85;
  --color-secundary: #ef4136;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  color: var(--color-black);
  overflow-x: hidden;
  font-family: 'Sora', sans-serif;
  background-color: #fff;
}
